extends ../assets/layout/layout

prepend headConfig
  - const pageTitle = 'Кафе';
  - const description = '';
  - const keywords = '';
  - const mainClass = 'cafe';

append content
  .asdfasdf asdfasd
