$font-size: 0.875rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.1875rem;
$font-size-h3: 0.75rem;

$line-height: 1.2;

$font-family: 'Montserrat';

$color-dark-shade-100: rgba(31,32,65,1);
$color-dark-shade-75: rgba(31,32,65,0.75);
$color-dark-shade-50: rgba(31,32,65,0.5);
$color-dark-shade-25: rgba(31,32,65,0.25);
$color-dark-shade-5: rgba(31,32,65,0.05);
$color-purple: #bc0cff;
$color-green: #6fcf97;